// COLOR VARIABLES
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 

// Color Definition
$bg-color: #fff;
$bg-txt-color: #000;
$logo-color: #000;
$main-menu-color: #000;
$main-title-color: #000;

$primary-color: #46FFDD;
$secondary-color: #8367D8; 
$grid-border-color: 1px solid rgba(128, 128, 128, 0);


// Color Location
$hero-color: $primary-color;
$hero-text-color: white;

// LAYOUT VARIABLES
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *


// TEXT VARIABLES
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

// Line Height
$hd-desk-line-height: 150px;
$desk-line-height: 120px;
$lap-line-height: 100px;
$pad-line-height: 80px;
$phone-line-height: 50px;

// Letter Spacing
$hd-desk-letter-spacing: 150px;
$desk-letter-spacing: 120px;
$lap-letter-spacing: 100px;
$pad-letter-spacing: 80px;
$phone-letter-spacing: 50px;